@tailwind base;
@tailwind components;
@tailwind utilities;

.spaced-out {
    letter-spacing: 0.4em; 
  }

  .product-detail .product-hero {
    background: #000;
    padding: 2rem 0;
  }
  
  .product-detail .product-overview {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .product-detail .product-overview .product-image img {
    width: 100%;
  }
  
  .product-detail .product-overview .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-detail .product-features {
    padding: 2rem;
  }
  
  .product-detail .product-gallery {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .product-detail .related-products {
    padding: 2rem;
  }
  
  .product-detail .related-products .related-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-detail .about {
    background: #f0f0f0;
    padding: 2rem;
  }
  
  .product-detail .about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  